##Assigment 1 (Automation lab 540: 383)

**Please print () to print out your answer, make sure your code is error free**

## Question 1

1.1 Print out the history score of Emma

1.2 Changes her physics score to 95

1.3 Changes key from history to math (hint: using pop() function to change key in dictionary)

1.4 Add a new key-value pair 'chemistry': 88 to the 'marks' dictionary

In [ ]:
# pop () is used to change key of a dictionary

person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

# Change the key 'city' to 'location'
person['location'] = person.pop('city')
print(person)

{'name': 'Alice', 'age': 30, 'location': 'New York'}

In [2]:

question1 = {
    "class": {
        "student": {
            "name": "Emma",
            "marks": {
                "physics": 85,
                "history": 90
            }
        }
    }
}

print(question1["class"]["student"]["marks"]["history"])

question1["class"]["student"]["marks"]["physics"] = 95

question1["class"]["student"]["marks"]["math"] = question1["class"]["student"]["marks"].pop("history")

question1["class"]["student"]["marks"]["chemistry"] = 88

print(question1)

90
{'class': {'student': {'name': 'Emma', 'marks': {'physics': 95, 'math': 90, 'chemistry': 88}}}}

## Question 2

Create a Python function that allows the user to add a new product and its price to an existing dictionary of products. The function should prompt the user to type their input for both the product name and its price.

Then using the function to add
1.   "grape" : 2.5
2.   "apple" : 1.8

**Expected output example**

Enter the name of the product: Apple

Enter the price for Apple: 1.8

Product 'Apple' has been added/updated with price 1.8.


Updated Products List:

{'apple': 1.5, 'banana': 0.8, 'orange': 1.2, 'Grape': 2.5, 'Apple': 1.8}

In [3]:
def add_product(products):
    product_name = input("Enter the name of the product: ")
    product_price = float(input(f"Enter the price for {product_name}: "))
    products[product_name] = product_price
    print(f"Product '{product_name}' has been added/updated with price {product_price}.")
    print("Updated Products List:")
    print(products)

products = {
    "apple": 1.5,
    "banana": 0.8,
    "orange": 1.2
}

add_product(products)
add_product(products)

Enter the name of the product: apple
Enter the price for apple: 2
Product 'apple' has been added/updated with price 2.0.
Updated Products List:
{'apple': 2.0, 'banana': 0.8, 'orange': 1.2}
Enter the name of the product: grape
Enter the price for grape: 5
Product 'grape' has been added/updated with price 5.0.
Updated Products List:
{'apple': 2.0, 'banana': 0.8, 'orange': 1.2, 'grape': 5.0}

## Question 3

Weather Data Analysis

Create a Python function to analyze temperature data for a week. The program should check if the data is empty or not, then compute the mean, minimum, maximum, and range of daily temperatures recorded in 10 days.

In [5]:
def analyze_temperatures(data):
    if not data:
        print("No temperature data available.")
        return

    mean_temp = sum(data) / len(data)
    min_temp = min(data)
    max_temp = max(data)
    temp_range = max_temp - min_temp

    print(f"Mean Temperature: {mean_temp}")
    print(f"Minimum Temperature: {min_temp}")
    print(f"Maximum Temperature: {max_temp}")
    print(f"Temperature Range: {temp_range}")

# Example temperature data for a week
temperature_data = [12, 15, 12, 15, 19, 24, 26, 18, 21, 16]

# Analyze the temperature data
analyze_temperatures(temperature_data)

# #hint :these are som functions in python that you might use

Mean Temperature: 17.8
Minimum Temperature: 12
Maximum Temperature: 26
Temperature Range: 14