#1. Slicing Lists

**list[start:stop:step]**

list[:: 1]



*   start: Not specified, so it defaults to the beginning of the list.

*   stop: Not specified, so it defaults to the end of the list.
*   step: =1 for 1 "step forward", = -1 for 1 "step backward"

In [ ]:

elements = ["orange", 25, 7.89, False, "mango", 200, True, "pineapple", 12.34, "watermelon"]
#use len() to check before slicing
print(len(elements))
# 1. Forward Slicing: Extract a subset from the beginning to the end of the list
print("Forward Slice_1:", elements[0:10])
print("Forward Slice_2:", elements[0:])
print("Forward Slice_3:", elements[::])
print("Forward Slice_4:", elements[::-1])


# 2. Backward Slicing: Extract a subset moving backward by using step -1
print("Backward Slice:", elements[-1:0:-1])

# 3. Slicing with Step -1: Reverse the entire list
print("Reversed List:", elements[::-1])

# 4. Slicing with Step: Extract every third element
print("Every Third Element:", elements[0::3])

# 5. Slicing with Colons for Subset: Extract a specific subset
print("Subset :", elements[2:8])
print("Subset with step 2:", elements[2:8:2])

10
Forward Slice_1: ['orange', 25, 7.89, False, 'mango', 200, True, 'pineapple', 12.34, 'watermelon']
Forward Slice_2: ['orange', 25, 7.89, False, 'mango', 200, True, 'pineapple', 12.34, 'watermelon']
Forward Slice_3: ['orange', 25, 7.89, False, 'mango', 200, True, 'pineapple', 12.34, 'watermelon']
Forward Slice_4: ['watermelon', 12.34, 'pineapple', True, 200, 'mango', False, 7.89, 25, 'orange']
Backward Slice: ['watermelon', 12.34, 'pineapple', True, 200, 'mango', False, 7.89, 25]
Reversed List: ['watermelon', 12.34, 'pineapple', True, 200, 'mango', False, 7.89, 25, 'orange']
Every Third Element: ['orange', False, True, 'watermelon']
Subset : [7.89, False, 'mango', 200, True, 'pineapple']
Subset with step 2: [7.89, 'mango', True]

**Question 1**

In [ ]:

items = ["book", 5.99, "pen", 1.25, "notebook", 3.50, "eraser", 0.75, "marker", 2.00]

# Print out the first item from the list
print("First item:", items[0]);

# Print out the price of the last item in the list
print("Price of last item:", items[-1]);

# Print out the name of the second item from the list
print("Name of second item:", items[1]);

# Print out the total price of the notebook and the eraser
total_price = items[5] + items[7]
print("Total price of notebook and eraser:", total_price)

# Print out the item name after "pen"
print("Item after 'pen':", items[3])

First item: book
Price of last item: 2.0
Name of second item: 5.99
Total price of notebook and eraser: 4.25
Item after 'pen': 1.25

**Question 2**

In [ ]:
plants = ["rose", 50, "tulip", 35, "sunflower", 150, "daisy", 20, "lily", 40, "orchid", 30]
print(len(plants));
# 1. Create a list of the first three plant names
print("First three plant names:", plants[0:5:2]);

# 2. Create a list containing the heights of all the plants
print("Heights of all plants:", plants[1:12:2]);

# 3. Create a list of the last two plants
print("Last two plants:", plants[-2:-5:-2]);

12
First three plant names: ['rose', 'tulip', 'sunflower']
Heights of all plants: [50, 35, 150, 20, 40, 30]
Last two plants: ['orchid', 'lily']

**Question 3**

In [ ]:

library_books = ["1984", "To Kill a Mockingbird", "The Great Gatsby", "Moby Dick", "War and Peace"]
print(len(library_books));
# 1. Extend the library_books list with a new list of recently acquired books
new_books = ["The Catcher in the Rye", "Pride and Prejudice", "The Hobbit"]
library_books.extend(new_books)
print(library_books);

# 2. Delete the third book from the library_books list
del library_books[2];
print(library_books);

# 3. Append a newly released book to the library_books list
new_release = "The Silent Patient"
library_books.append(new_release)
print(library_books)

# 4. Insert a book into the second position in the library_books list
insert_book = "Jane Eyre"
library_books.insert(1, insert_book)
print(library_books)

5
['1984', 'To Kill a Mockingbird', 'The Great Gatsby', 'Moby Dick', 'War and Peace', 'The Catcher in the Rye', 'Pride and Prejudice', 'The Hobbit']
['1984', 'To Kill a Mockingbird', 'Moby Dick', 'War and Peace', 'The Catcher in the Rye', 'Pride and Prejudice', 'The Hobbit']
['1984', 'To Kill a Mockingbird', 'Moby Dick', 'War and Peace', 'The Catcher in the Rye', 'Pride and Prejudice', 'The Hobbit', 'The Silent Patient']
['1984', 'Jane Eyre', 'To Kill a Mockingbird', 'Moby Dick', 'War and Peace', 'The Catcher in the Rye', 'Pride and Prejudice', 'The Hobbit', 'The Silent Patient']

**Question 4**

In [ ]:

figures = ("Albert Einstein", 1879, "Marie Curie", 1867, "Isaac Newton", 1643, "Ada Lovelace", 1815, "Galileo Galilei", 1564)

# 1. Extract the name and birth year of the second figure in the tuple
second_figure_name = figures[2];
second_figure_birth_year = figures[3];
print("Second Figure:", second_figure_name, second_figure_birth_year);

# 2. Create a new tuple with the first three figures and their birth years
first_three_figures = figures[:6];
print("First Three Figures:", first_three_figures);

Second Figure: Marie Curie 1867
First Three Figures: ('Albert Einstein', 1879, 'Marie Curie', 1867, 'Isaac Newton', 1643)

**Question 5**

In [ ]:

library = {
    "1984": {"author": "George Orwell", "year": 1949, "genre": "Dystopian"},
    "To Kill a Mockingbird": {"author": "Harper Lee", "year": 1960, "genre": "Fiction"},
    "The Great Gatsby": {"author": "F. Scott Fitzgerald", "year": 1925, "genre": "Classic"},
    "Moby Dick": {"author": "Herman Melville", "year": 1851, "genre": "Adventure"},
    "War and Peace": {"author": "Leo Tolstoy", "year": 1869}
}

# 1. Access and print the author of "Moby Dick"
author_moby_dick = library["Moby Dick"]["author"]
print("Author of Moby Dick:", author_moby_dick);

# 2. Add the missing genre "Historical Fiction" to "War and Peace"
library["War and Peace"]["genre"] = "Historical Fiction"
print("Updated War and Peace entry:", library["War and Peace"]);

# 3. Update the year of publication of "The Great Gatsby" to 1926
library["The Great Gatsby"]["year"] = 1926
print("Updated The Great Gatsby entry:", library["The Great Gatsby"]);

Author of Moby Dick: Herman Melville
Updated War and Peace entry: {'author': 'Leo Tolstoy', 'year': 1869, 'genre': 'Historical Fiction'}
Updated The Great Gatsby entry: {'author': 'F. Scott Fitzgerald', 'year': 1926, 'genre': 'Classic'}

**Question6**

In [ ]:
#6.1 Given dates in YYYYMM
current_date = 202405

#Extract the year and month from the current date
# Question: How can you get the year and month from the current date?
year = current_date // 100
month = current_date % 100

print("Year:", year);
print("Month:", month);

Year: 2024
Month: 5

In [ ]:

#6.2 Calculate the area of the circle, allow user to give the radious, don't forget the units
import math

radius = float(input("Enter the radius of the circle (in units): "))

area = math.pi * radius**2

print(f"The area of the circle with radius {radius} units is {area:.2f} square units.")

Enter the radius of the circle (in units): 3
The area of the circle with radius 3.0 units is 28.27 square units.