In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')
path = "/content/gdrive/MyDrive/Colab Notebooks/My_Data/Titanic-Dataset.csv"

Mounted at /content/gdrive

In [ ]:
import pandas as pd

data = pd.read_csv(path)

#read the first 5 rows
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
data['Sex'].unique()

array(['male', 'female'], dtype=object)

In [ ]:
gender_grouped_count = data.groupby('Sex').count()
print(gender_grouped_count)

        PassengerId  Survived  Pclass  Name  Age  SibSp  Parch  Ticket  Fare  \
Sex
female          314       314     314   314  261    314    314     314   314
male            577       577     577   577  453    577    577     577   577

        Cabin  Embarked
Sex
female     97       312
male      107       577

In [ ]:
gender_count =data['Sex'].value_counts()

# Display the count of males and females
gender_count

Sex
male      577
female    314
Name: count, dtype: int64

#Task for Titanic dataset

**Please write a general data discription for the Titanic datase**

1. General information about dataset

+ Shape of data (rows, columns)

+ data type of columns( integer, float, object)

+ missing values


2. Basic stats

+ Numeric data : mean, variance, std, max, min, etc...

+ Category (object data) : count

3. Important figures

+ How many people survived?

+ etc...

4. Two suggestions to change (manipulate data) for a better analysis

Suggestion : drop a column, group by, sort, merge ,....

**Notice** : Please write your data description in a text cell with 10 most important information that you extracted from the dataset

**Your data description goes here**



*   List item

*   List item

*   List item

*   List item
*   List item


*   List item


*   List item


*   List item